<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <% include myHeader.ejs %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= name %></p>
      <input type="hidden" id="pwd" value="">
      <input type="hidden" id="myJson" value=<%= myJson %>>
      <script>
          <% include ../public/javascripts/index_script.ejs %>
      </script>
  </body>
</html>
